<%- include("partial/header"); -%>

	<h1><%= postRequired[0].title %></h1>
	<p><%= postRequired[0].content %></p>
	<h1>Author</h1>
	<p><%= postRequired[0].author %></p>


<%- include("partial/footer"); -%>